@import "../index.css";

h2 {
  margin: 20px auto;
  text-align: center;
}
.table {
  margin: 20px auto;
}

th,
td {
  padding: 5px 10px;
}

tr:nth-child(odd) {
  background-color: var(--primary);
  color: var(--gray);
}

tr:nth-child(even) {
  background-color: var(--secondary);
  color: var(--grayDark);
}
